<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>SmartHome</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<style type="text/css">
    .demo-content{
        padding: 15px;
        font-size: 18px;
        height: 2650px;
        background: #F9F9F9;
        margin-bottom: 10px;
    }
    .list-group{
        width:108%;
        margin-left: -10px;
        margin-top: -10px;
    }
    .demo-content.bg-alt{
        background: #FCFCFC;
        margin-left: -25px;
    }
    .row {
        height: 100%;
    }
    .navbar.navbar-inverse.navbar-static-top {
        margin-top: -10px;
    }

</style>
</head>
<body>

     <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="demo-content">
                    <div class="list-group">
                        <a href="/" class="list-group-item active">
                            <span class="glyphicon glyphicon-th-large"></span> Dashboard
                        </a>
                        <a href="/charts" class="list-group-item">
                            <span class="glyphicon glyphicon-signal"></span> Charts 
                        </a>
                        <a href="/devices" class="list-group-item">
                            <span class="glyphicon glyphicon-hdd"></span> Devices
                        </a>
                        <a href="#" class="list-group-item">
                            <span class="glyphicon glyphicon-map-marker"></span> Locations
                        </a>
                    </div>
                </div>
            </div>
           <div class="col-md-10">
           		<div class="demo-content bg-alt">

           			 <nav role="navigation" class="navbar navbar-inverse navbar-static-top">
                        <div class="navbar-header">
                            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                            </buttonf="#" class="navbar-brand">Brand</a>
                        </div>
                        <div id="navbarCollapse" class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li class="active">
                                    <a href="/">
                                        <span class="glyphicon glyphicon-home"></span>  Home
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="glyphicon glyphicon-star"></span>  Favorites
                                    </a>
                                </li>
                                <li>
                                    <a href="/settings">
                                       <span class="glyphicon glyphicon-cog"></span>   Settings
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title"><big><b class="text-uppercase">API WattTime</b></big></h1>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li><p class="text-primary"><b>Balancing Authority</b></p>
                                <hr>
                                    <ul>
                                        <li><b class="text-uppercase">Name</b> : <font color="black">{{ name }}</font></li>
                                        <hr>
                                        <li><b class="text-uppercase">Ba_type</b> : <font color="black">{{ ba }}</font></li>
                                        <hr>
                                        <li><b class="text-uppercase">Url</b> : <font color="black">{{ url }}</font></li>
                                        <hr>
                                        <li><b class="text-uppercase">Abbrev</b> : <font color="black">{{ ab }}</font></li>
                                        <hr>
                                        <li><b class="text-uppercase">Link</b> : <font color="black">{{ link }}</font></li>
                                    </ul>
                                </li>    
                            </ul>
                        </div>
                    </div>

                     <div class="row">   
                        <div class="col-md-12">
                            
                            <p class="text-primary"><big><b>Carbon Footprint Chart</b></big></p>
                            <div id="carbonChart"></div>
                            <script type="text/javascript">
                                var value = {{ JSON.stringify(val) }};
                                var data = [
                                  {
                                    x: value.x,
                                    y: value.y,
                                    type: 'scatter'
                                  }
                                ];
                                Plotly.newPlot('carbonChart', data);
                            </script>
                            <hr>

                            <p class="text-primary"><big><b>Forecast Temperature Chart</b></big></p>
                            <div id="plotly-div-doi"></div>
                            <script>
                                  var value = {{ JSON.stringify(valT) }};
                                  var data = [
                                        {
                                            x: value.x,
                                            y: value.y, 
                                            type: "bar",
                                            xsrc: "adelin.dobre1994:1:88fdc4", 
                                            ysrc: "adelin.dobre1994:1:b0609c"
                                        }
                                  ];
                                  Plotly.plot('plotly-div-doi', data);      
                            </script>
                            <hr>

                            <p class="text-primary"><big><b>Forecast Pressure Chart</b></big></p>
                            <div id="plotly-div"></div>               
                            <script>
                                  var value = {{ JSON.stringify(valP) }};
                                  var data = [
                                        {
                                            x: value.x,
                                            y: value.y, 
                                            type: "scatter",
                                            xsrc: "adelin.dobre1994:1:88fdc4", 
                                            ysrc: "adelin.dobre1994:1:b0609c"
                                        }
                                  ];
                                  Plotly.plot('plotly-div', data);      
                            </script> 
                            <hr>

                            <p class="text-primary"><big><b>Forecast Wind Speed Chart</b></big></p>
                            <div id="plotly-div-trei"></div>
                            <script>
                                  var value = {{ JSON.stringify(valW) }};
                                  var data = [
                                        {
                                            x: value.x,
                                            y: value.y, 
                                            type: "bar",
                                            xsrc: "adelin.dobre1994:1:88fdc4", 
                                            ysrc: "adelin.dobre1994:1:b0609c"
                                        }
                                  ];
                                  Plotly.plot('plotly-div-trei', data);      
                            </script>
                            <hr>

                        </div>
                    </div>

           		</div>
           </div>

        </div>
    </div>
</body>
</html>                                                                             